
    <menu></menu>

    <ion-content class="patternBackground" style="margin-top:55px;">
        <img src="{{MainImg}}" style="width: 100%;" />
        <div class="AboutTitle">קצת על MYRUN</div>
        <div class="AboutDescription" [innerHTML]="AboutContent"></div>
    </ion-content>

    <ion-footer class="FooterClass">
        <footer></footer>
    </ion-footer>
