page-about {

}


.AboutTitle
{
  text-align: right;
  color:black;
  font-size:16px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 25px;
  direction: rtl;
}

.AboutDescription
{
  padding: 25px;
  text-align: right;
  direction: rtl;
  margin-top: 0px;
  padding-top: 5px;
}
