<!-- Generated template for the MenuComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title style="margin-left: 35px; margin-top:5px;" align="center">
        <img src="images/logo.png" style="width: 80%; margin-top: 7px" />
    </ion-title>
      <button ion-button menuToggle end color="black">
          <ion-icon name="menu" style="color: black"></ion-icon>
      </button>
  </ion-navbar>
</ion-header>