page-contact {
  page-register {

  }
  .loginTitle
  {
    text-align: center;
    color:#022850;
    font-size:22px;
    font-weight: bold;
    font-family:Arial;
    padding-top: 25px;
  }

  .InputsText
  {
    width: 100%;
    margin-top: 10px;
  }

  .InputText
  {
    width: 90%;
  }

  .register
  {
    position: relative;
    top:15px;
    font-size: 15px;
  }

  .InputText input,textarea
  {
    width: 100%;
    text-align: right;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
  }

  .loginButton
  {
    width: 90%;
    margin-top: 20px;
    background-color: #022850;
  }

  .selectRegion
  {
    direction: rtl;
    width: 90%;
    border: 1px solid #ccc;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0px !important;
    height: 12px;
    background-color: white;
  }
}
