<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<menu></menu>



<ion-content  patternBackground>
  <ion-item no-lines class="RegTitle">
    <label>צור קשר</label>
  </ion-item>

  <ion-list class="Inputs">
    <!--<ion-item>-->
      <!--<ion-label floating>שם מלא</ion-label>-->
      <!--<ion-input type="text" [(ngModel)]="Contact.name" name="name" ></ion-input>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>טלפון</ion-label>-->
      <!--<ion-input type="tel" [(ngModel)]="Contact.phone" name="phone" ></ion-input>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>מייל</ion-label>-->
      <!--<ion-input type="text" [(ngModel)]="Contact.mail" name="mail" ></ion-input>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label floating>תוכן הפנייה</ion-label>-->
      <!--<ion-textarea type="text" [(ngModel)]="Contact.details" name="details" ></ion-textarea>-->
    <!--</ion-item>-->


    <!--<div style="width: 100%; margin-top: 20px;" align="center" (click)="SendForm()">-->
      <!--<div style="width: 90%">-->
        <!--<button ion-button color="primary" style="width: 100%">שליחה</button>-->
      <!--</div>-->
    <!--</div>-->

    <div class="loginMain patternBackground">
      <div class="loginTitle">
        צור קשר
      </div>
      <div class="InputsText" align="center">
        <div class="InputText">
          <input type="text" placeholder="הכנס שם מלא" [(ngModel)]="Contact.name" />
        </div>
        <div class="InputText mt10">
          <input type="text" placeholder="הכנס מספר טלפון" [(ngModel)]="Contact.phone" />
        </div>
        <div class="InputText mt10">
          <input type="text" placeholder="הכנס אימייל" [(ngModel)]="Contact.mail" />
        </div>
        <div class="InputText mt10">
          <textarea [(ngModel)]="Contact.details" name="info" placeholder="הכניסי קצת פרטים עלייך" rows="4"></textarea>
        </div>


        <button class="loginButton" ion-button block (click)="SendForm()">התחל</button>
      </div>
    </div>
  </ion-list>
</ion-content>
