<menu></menu>


<ion-content  class="Content">
  <div class="Products">
    <div class="Product" *ngFor="let item of Categoriesrray let i=index" (click)="goToURL(i,item.url)">
      <img src="{{serverHost+item.image}}" style="width:100%;">
      <div class="title">{{item.title}}</div>
      <div class="fullDescription" align="center">
        <div class="description">{{item.description}}</div>
        <button ion-button class="buyButton"> לרכישה</button>
      </div>
    </div>
    <!--<button ion-item *ngFor="let p of pages" (click)="openPage(p)" style="text-align: right; direction: rtl">-->
      <!--{{p.title}}-->
    <!--</button>-->
    <ion-list style="direction: rtl; background-color: #f1f1f1; margin-bottom:30px;">
      <ion-item *ngFor="let p of pages" (click)="openPage(p)" style="background-color: #f1f1f1">
        <h3>{{p.title}}</h3>
        <button ion-button clear item-end>
          <ion-icon style="color: black" name="ios-arrow-back"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>


<ion-footer class="FooterClass">
  <table style="margin-right:20px; margin-top: 4px; ">
    <tr>
      <td (click)="shareViaWhatsApp()">
        <img src="images/footer/1.png" style="width: 100%" />
      </td>
      <td (click)="shareViaFacebook()">
        <img src="images/footer/2.png" style="width: 100%" />
      </td>
      <td (click)="shareViaPhone()">
        <img src="images/footer/3.png" style="width: 100%" />
      </td>
      <td (click)="shareViaMail()">
        <img src="images/footer/4.png" style="width: 100%" />
      </td>
      <td (click)="shareViaWaze()">
          <img src="images/footer/5.png" style="width: 100%" />
      </td>
    </tr>
  </table>
</ion-footer>
