page-home {
  .Content
  {
    background-color:#f1f1f1;
  }
  .Products
  {
    margin-top:58px;
  }

  .info
  {
    padding: 10px;
    text-align: center;
    color: black;
  }

  .title
  {
    font-size: 18px;
    font-weight: bold;
    font-family: 'ariel', sans-serif;
    text-align: center;
    margin-top: 8px;
  }

  .fullDescription
  {
    width: 100%;
    margin-top: 3px;
  }
  .description
  {
    width: 70%;
    direction: rtl;
    padding-bottom: 15px;
    font-family: 'ariel', sans-serif;

    text-align: center;
  }

  .buyButton
  {
    background-color: #111111;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
  }
}
